*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #DB2777;
    --white-color: #fafafa;
}

li{
    list-style: none;
}

body{
    height: 100vh;

    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'inter', sans-serif;
}

main{
    text-align: center;
    margin-bottom: 300px;
}


.main-texts h1{
    font-size: 64px;
    font-family: 'Cinzel', sans-serif;
}

.main-texts span{
    color: var(--primary-color);
}

.main-texts p{
    font-size: 20px;
}

.links{
    padding: 72px;
}

.links li {
    display: inline-block;
    margin: 0 0 0 15px;
}

.links a{
    font-size: 20px;
    padding: 16px 32px; 
    margin: 0px 8px;
    text-transform:uppercase;
    border-radius: 80px;

    font-family: 'Cinzel', sans-serif;
}

.btn-read-more{
    color: #000;
    transition: background .2S;
}

.btn-read-more:hover{
    background-color: var(--primary-color);
    border-radius: 80px;
    color: var(--white-color);
    text-decoration: none;
}

.btn-travel-now{
    background-color: #DB2777;
    color: var(--white-color);
    text-decoration: none;
}
